  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-45vw * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-45vw * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100vh;
    position: absolute;
    width: 25vw;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 200s linear infinite;
            animation: scroll 200s linear infinite;
    display: flex;
    width: calc(45vw * 14);
  }
  .slider .slide {
    height: 40vh;
    width: auto;
  }

  /* RESPONSIVE */
@media (max-width: 768px) {
  .slider .slide-track {
    -webkit-animation: scroll 70s linear infinite;
            animation: scroll 70s linear infinite;
    display: flex;
    width: calc(45vw * 14);
  }
}
